<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Agenda de Contatos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <%- body %>
    <script src="/js/main.js"></script>
  </body>
</html>
