<div class="container">
  <div class="jumbotron">
    <h1>Edição</h1>
  </div>

  <form action="/contatos/<%- id %>?_method=put" method="post">
    <div class="form-group">
      <label for="inputName">Nome</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        value="<%= contact.name %>"
      />
    </div>
    <div class="form-group">
      <label for="inputName">Nome</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        value="<%= contact.email %>"
      />
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
    <a href="/contatos" class="btn btn-danger">Cancelar</a href="/contatos">
  </form>
</div>
