<div class="container">
  <div class="jumbotron">
    <h1>Lista de Contatos</h1>
    <p class="text-muted">Bem vindo <%=user.name%></p>
  </div>

  <form action="/contatos" method="POST">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">Nome</label>
        <input
          type="text"
          class="form-control mb-2"
          id="inlineFormInput"
          placeholder="Nome..."
          name="contact[name]"
        />
      </div>

      <div class="col-auto">
        <label class="sr-only" for="inlineFormInput">E-mail</label>
        <input
          type="text"
          class="form-control mb-2"
          id="inlineFormInput"
          placeholder="E-mail..."
          name="contact[email]"
        />
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Adicionar</button>
      </div>
    </div>
  </form>

  <table class="table mt-5">
    <thead>
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <% contacts.forEach((contact, index) => { %>
      <tr>
        <td><%- contact.name %></td>
        <td><%- contact.email %></td>
        <td>
          <a href="/contatos/<%- index %>">Detalhes</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>

  <%- include('../exit') %>
</div>
