<div class="container">
  <div class="jumbotron">
    <h1>Dados do Contato</h1>
  </div>

  <form action="/contatos/<%- id %>?_method=delete" method="post">
    <p><label>Nome:</label><%- contact.name %></p>
    <p><label>E-mail:</label><%- contact.email %></p>
    <p>
      <button class="btn btn-danger" type="submit">Excluir</button>
      <a class="btn btn-info" href="/contatos/<%- id %>/editar">Editar</a>
    </p>
  </form>
</div>

<!-- Page 67 -->
