<div class="login text-center">
  <form class="form-signin" action="/login" method="POST">
    <img
      class="mb-4"
      src="https://img.ibxk.com.br/2015/12/programas/14620716102244257.png"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Agenda</h1>
    <label for="inputName" class="sr-only">Nome</label>
    <input
      type="text"
      id="inputName"
      class="form-control"
      name="user[name]"
      placeholder="Digite seu nome"
      autofocus=""
    />
    <label for="inputEmail" class="sr-only">Email</label>
    <input
      type="email"
      id="inputEmail"
      class="form-control"
      name="user[email]"
      placeholder="Digite sua email"
    />

    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">
      Entrar
    </button>
    <p class="mt-5 mb-3 text-muted">© 2020</p>
  </form>
</div>
